Lab_1/PyFA/.idea/

Lab_2/.idea/
Lab_2/.ipynb_checkpoints/

Lab_3/.idea/
Lab_3/.ipynb_checkpoints/

Lab_4/.idea/
Lab_4/.ipynb_checkpoints/

Lab_5/.idea/
Lab_5/.ipynb_checkpoints/

Lab_6/.idea/
Lab_6/.ipynb_checkpoints/

Lab_7/.idea/
Lab_7/.ipynb_checkpoints/


*.png
*.jpg
*.7z
